<form>
	<div class="form-group">
		<label for="statusIdFormInput">Status id</label>
		<input
			type="text"
			class="form-control"
			id="statusIdFormInput"
			value="{{ currentStatus?.statusId }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="playerIdFormInput">Player id</label>
		<input
			type="text"
			class="form-control"
			id="playerIdFormInput"
			value="{{ currentStatus?.playerId }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="speedFormInput">Speed</label>
		<input
			type="text"
			class="form-control"
			id="speedFormInput"
			value="{{ currentStatus?.speed }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="staminaFormInput">Stamina</label>
		<input
			type="text"
			class="form-control"
			id="staminaFormInput"
			value="{{ currentStatus?.stamina }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="catchEfficiencyFormInput">Catch efficiency</label>
		<input
			type="text"
			class="form-control"
			id="catchEfficiencyFormInput"
			value="{{ currentStatus?.catchEfficiency }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="pitchEfficiencyFormInput">Pitch efficiency</label>
		<input
			type="text"
			class="form-control"
			id="pitchEfficiencyFormInput"
			value="{{ currentStatus?.pitchEfficiency }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="passEfficiencyFormInput">Pass efficiency</label>
		<input
			type="text"
			class="form-control"
			id="passEfficiencyFormInput"
			value="{{ currentStatus?.passEfficiency }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="battingEfficiencyFormInput">Batting efficiency</label>
		<input
			type="text"
			class="form-control"
			id="battingEfficiencyFormInput"
			value="{{ currentStatus?.battingEfficiency }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="battingPowerFormInput">Batting power</label>
		<input
			type="text"
			class="form-control"
			id="battingPowerFormInput"
			value="{{ currentStatus?.battingPower }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="pitchingPowerFormInput">Pitching power</label>
		<input
			type="text"
			class="form-control"
			id="pitchingPowerFormInput"
			value="{{ currentStatus?.pitchingPower }}"
			disabled
		/>
	</div>
	<div class="form-group">
		<label for="pitchingEffectFormInput">Pitching effect</label>
		<input
			type="text"
			class="form-control"
			id="pitchingEffectFormInput"
			value="{{ currentStatus?.pitchingEffect }}"
			disabled
		/>
	</div>
</form>
