<h4>Feature list for the app :</h4>
<br />
<div id="team-feature-element" class="card">
	<h5 class="card-header">Teams Feature</h5>
	<div class="card-body">
		<h6 class="card-title">Feature description</h6>
		<p class="card-text">Create, Modify or Delete a team.</p>
		<a routerLink="teams" class="btn btn-success">Go to the teams section</a>
	</div>
</div>
<div id="player-feature-element" class="card">
	<h5 class="card-header">Players Feature</h5>
	<div class="card-body">
		<h6 class="card-title">Feature description</h6>
		<p class="card-text">Create, Modify or Delete a player.</p>
		<a routerLink="players" class="btn btn-success"
			>Go to the players section</a
		>
	</div>
</div>
<div id="status-feature-element" class="card">
	<h5 class="card-header">Statuses Feature</h5>
	<div class="card-body">
		<h6 class="card-title">Feature description</h6>
		<p class="card-text">Create, Modify or Delete a status.</p>
		<a routerLink="statuses" class="btn btn-success"
			>Go to the statuses section</a
		>
	</div>
</div>
<div id="intent" class="card">
	<h5 class="card-header">Test intent</h5>
	<div class="card-body">
		<h6 class="card-title">Two way intent use</h6>
		<p class="card-text">
			Click on the first button will not work, on the second will work on mobile
		</p>
		<a class="btn btn-warning mb-3" (click)="onRedirectToStore()"
			>javascript redirect</a
		>
		<br />
		<a
			href="market://details?id=fr.oney.mobile.mescomptes&hl=fr&gl=US"
			class="btn btn-success mb-3"
			>user gesture redirect</a
		>
		<br />
		<a class="btn btn-danger" (click)="onRedirectAfterSometimesToStore()"
			>javascript redirect after timeout of 5 seconds</a
		>
	</div>
</div>
