<h4>Feature list for the app :</h4>
<br />
<div id="team-feature-element" class="card">
	<h5 class="card-header">Teams Feature</h5>
	<div class="card-body">
		<h6 class="card-title">Feature description</h6>
		<p class="card-text">Create, Modify or Delete a team.</p>
		<a routerLink="teams" class="btn btn-success">Go to the teams section</a>
	</div>
</div>
<div id="player-feature-element" class="card">
	<h5 class="card-header">Players Feature</h5>
	<div class="card-body">
		<h6 class="card-title">Feature description</h6>
		<p class="card-text">Create, Modify or Delete a player.</p>
		<a routerLink="players" class="btn btn-success"
			>Go to the players section</a
		>
	</div>
</div>
<div id="status-feature-element" class="card">
	<h5 class="card-header">Statuses Feature</h5>
	<div class="card-body">
		<h6 class="card-title">Feature description</h6>
		<p class="card-text">Create, Modify or Delete a status.</p>
		<a routerLink="statuses" class="btn btn-success"
			>Go to the statuses section</a
		>
	</div>
</div>
