<form>
    <div class="form-group">
        <label for="teamIdFormInput">Team id</label>
        <input type="text" class="form-control" id="teamIdFormInput" value="{{currentTeam?.teamId}}" disabled>
    </div>
    <div class="form-group">
        <label for="teamFullNameFormInput">Team full name</label>
        <input type="text" class="form-control" id="teamFullNameFormInput" value="{{currentTeam?.teamFullName}}"
            disabled>
    </div>
    <div class="form-group">
        <label for="teamShortNameFormInput">Team short name</label>
        <input type="text" class="form-control" id="teamShortNameFormInput" value="{{currentTeam?.teamShortName}}"
            disabled>
    </div>
</form>